@font-face{
  font-family: 'Quicksand';
  src: url('img/Quicksand/static/Quicksand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: black;
}

#time {
  font-size: 5rem;
}

#dayToday {
  font-size: 3rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}
button {
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: gray;
  text-shadow: 1px 1px 2px black;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  position:absolute;
    top: 30px;
    left: 30px;
  opacity: 40%;
  outline: none;
}

button:hover {
  border: 3px solid white;
  box-shadow: 2px 2px 3px black;
  box-shadow: -1px -1px 3px white;
}

@media (max-width: 700px) {
  #time {
    font-size: 3rem;
  }
  #dayToday {
    font-size: 2rem;
  }
}
